.App {
  text-align: center;

  .btn-item {
    width: 20%;
    height: 100px;
  }

  figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    figcaption {
      font-size: .8em;
    }
  }

  .item-preview {
    width: 100px;
    height: auto;
    margin: 30px 0;
  }
}

table {
  text-align: left;
}

.load {
  height: 100%;
}